html,
body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #f9bea0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .main-container {
    flex-direction: column;
  }
}

.menu-links {
  margin-top: 16px;
}

.menu-links > p,
.menu-links > a {
  display: inline;
}

.external-link {
  margin-bottom: 16px;
  display: block;
}

.tel-link {
  text-decoration: none;
}

a,
p {
  color: #000;
}

a:visited {
  color: #000;
}

spline-viewer,
canvas {
  height: 400px;
  width: 400px;
}
